body {
    background-color: dimgray;  /* cor de fundo da página */
    color: gold;  /* cor da escrita */
}

header {
    border: solid 2px rgb(232, 219, 72);
    font-size: 32px;
    padding: 10px;
    color: aqua;
}

h1 {
    font-size: 30px;            /* tamanho da fonte */
    text-align: center;         /* centralizado */
    text-transform: uppercase;  /* letras maiúsculas */
}

p {
    font-size: 16px;
    color: white;
}