body {
    background-color: dimgray;  /* cor de fundo da página */
    color: gold;  /* cor da escrita */
    font-family: "Montserrat", sans-serif; /* Estilo de letra(fonte) */
    margin: 0px;
    margin-bottom: 100px;
}

header {
    border: solid 2px rgb(232, 219, 72);
    font-size: 32px;
    padding: 10px;
    color: rgb(220, 210, 29);
}

.chamada {
    background-color: #7c0ccc; /* Cor escolhida */
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;            /* tamanho da fonte */
    text-align: center;         /* centralizado */
    text-transform: uppercase;  /* letras maiúsculas */
}

p {
    font-size: 16px;
    color: white;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos {
    display: flex;
    overflow: auto;
    gap: 10px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: rgb(230, 202, 41);
}